.feed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-container {
  width: 22px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loading-container {
  height: 400px;
}